<ul class="nav nav-tabs">
	<li><%= link_to "Infor",   info_path %></li>
	<li><%= link_to "VR/AR", vr_ar_path %></li>
	<li><%= link_to "AI", ai_path %></li>
	<li><%= link_to "security", sec_path %></li>
</ul>