<% provide(:title,"About") %>

<div class="jumbotron">
    <h2 class="hahafont">This is HaHaGo, just developing, and will be more fun and useful. Thanks for your coming.   
    </h2>
    <center>>^_^<</center>
    <br>
    shangchen.chang@aliyun.com
</div>