<% provide(:title,"About") %>

<div class="jumbotron">
    <p>This is HaHaGo,just developing, and will be more fun and useful.Thanks for your coming.   >^_^<
    </p>
    shangchen.chang@aliyun.com
</div>